<div>
  <%= flash[:notice] %>
</div>

<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
  <%= render 'new', book_new: @book_new, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <% if @user.get_profile_image.attached? %>
                <%= link_to image_tag(@user.get_profile_image, size: "100x100"), user_path(@user) %>
              <% else %>
                <%= link_to image_tag('no_image.jpg', size: "100x100"), user_path(@user) %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td class="btn btn-sm btn-success "><%= link_to "Edit", edit_book_path(@book) %></td>
              <td class="btn btn-sm btn-danger"><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" } %></td>
            <% end %>
          </tr>
          <tr>
            <td>
              <%= link_to @book.user.name, user_path(@user) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

