<div>
  <%= flash[:notice] %>
</div>

<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
  <%= render 'new', book_new: @book_new, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <% if @user.get_profile_image.attached? %>
                <%= link_to image_tag(@user.get_profile_image, size: "100x100"), user_path(@user) %>
              <% else %>
                <%= link_to image_tag('no_image.jpg', size: "100x100"), user_path(@user) %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td class="btn btn-sm btn-success "><%= link_to "Edit", edit_book_path(@book) %></td>
              <td class="btn btn-sm btn-danger"><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" } %></td>
            <% end %>
          </tr>
          <tr>
            <td>
              <%= link_to @book.user.name, user_path(@user) %>
            </td>
          </tr>
          <tr>
            <td>
              <p><%= @book.book_comments.count %> comments</p>
            </td>
            <% @book.book_comments.each do |book_comment| %>
              <td>
                <%= image_tag book_comment.user.get_profile_image, size: '50x50' %>
              </td>
              <td><%= book_comment.user.name %></td>
              <td><%= book_comment.comment%></td>
              <% if book_comment.user == current_user %>
                <td><%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete %></td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div>
        <% if @book.favorited_by?(current_user) %>
          <p>
          <%= link_to book_favorite_path(@book), method: :delete do %>
            <i class="fa fa-heart" style="color: red;"></i><%= @book.favorites.count %> いいね
          <% end %>
          </p>
        <% else %>
          <p>
          <%= link_to book_favorite_path(@book), method: :post do %>
            <i class="fa fa-heart"></i><%= @book.favorites.count %> いいね
          <% end %>
          </p>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "Comment" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

